@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* line-height: 1.5; */
}
/* header and footer part */

header,
footer{
    display: flex;
    background-color: #1f2937;
}


header{
    justify-content: space-between;
    align-items: center;
    padding: 2px 220px;
}
.logo{
    margin: 14px 0;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-link ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.header-link a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px 10px;
}
.header-link a:hover{
    background-color: #464a50;
}

footer{
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: #f9faf8;
}

/* section one */

.section-one{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding: 120px 220px;
}

/* section one right part */
.right{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.image{
    display: flex;
    background-color: gray;
    height: 215px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.legend{
    margin: 0;
}
/* section one left part */

.left{
    display: flex;
    flex-direction: column;
    width: 39%;
    justify-content: center;
}

.left h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.secondary{
    font-size: 18px;
    margin: 0;
    color: #e5e7eb;
}

.button-one{
    display: flex;
    background-color: #3882f6;
    width: max-content;
    margin-top: 8px;
    padding: 6px 36px;
    border-radius: 8px;
    border: none;
}

/* 4 cards section */
.section-two h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 42px 0;
}
.square{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 72px;
    flex-wrap: wrap;
}

.container{
    flex-direction: row;
    width: 150px;
    text-align: center;
}
.frame{
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
.text-card{
    color: #646567;
    margin: 10px 0;
}

/* quote section */
.section-three{
    background-color: #e5e7eb;
    display: flex;
    padding: 180px;
}